# .env — скопируй в .env и заполни

# Токен от @BotFather
BOT_TOKEN=1234567890:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Твой Telegram ID (узнать у @userinfobot)
ADMIN_ID=123456789

# Путь к базе данных
DB_NAME=data/wb_price.db

# Интервал проверки в минутах (по умолчанию 30)
CHECK_INTERVAL_MINUTES=30

# Где хранится БД
DB_NAME=data/wb_price.db

#
WB_CURR=byn
WB_DEST=-8139704
WB_SPP=30
WB_WEB_BASE_URL=https://www.wildberries.by