# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Env / secrets
.env
config.json


# Logs / output
logs/
*.log
!logs/.gitkeep

# CSV / local data
prices.csv

# OS / editor
.DS_Store
.vscode/
.idea/
*.sqlite

# runtime data
data/*
!data/.gitkeep